.container
  .row
    .col-3
      %h3 About
      %ul
        %li
          %a(href="#") About Yelp
        %li
          %a(href="#") Careers
        %li
          %a(href="#") Press

    .col-3
      %h3 Discover
      %ul
        %li
          %a(href="#") The Local Yelp
        %li
          %a(href="#") Yelp Blogs
        %li
          %a(href="#") Support

    .col-3
      %h3 Yelp for Business Owner
      %ul
        %li
          %a(href="#") Claim Your Business Page
        %li
          %a(href="#") Advertise on Yelp
        %li
          %a(href="#") Yelp Reservations

    .col-3
      %h3 Languages
      %ul
        %li
          %a.dropdown-toggle(href="#" data-toggle="dropdown") Languages
          .dropdown-menu
            %ul.p-2
              %li
                %a(href="#") English
                %a(href="#") Mandarin
        %li
          %a(href="#") Careers
        %li
          %a(href="#") Press