.container
  .row.p-2
    .col-10
      %h4 Shopping in Kuala Lumpur
    .col-2.txt-small.pt-2 Showing 1-30 of 3442
  .row
    .col-12
      %nav
        %ol.breadcrumb
          %li.breadcrumb-item
            %a(href="#") Kuala Lumpur
          %li.breadcrumb-item.active
            %a(href="#") Shopping

  .row.border-top.p-3
    .col-2
      %img(src="http://via.placeholder.com/150x150")
    .col-8
      %h3 1. Kenanga Mall
      %p Rating <span>4.5</span> / 5 with <span>6</span> reviews.
      %a(href="#") Shopping

    .col-2
      %address.txt-small
        50, Changkat Bukit Bintang
        50200 Kuala Lumpur
        Malaysia
        Phone number 03-2142 5670

  .row.border-top.p-3
    .col-2
      %img(src="http://via.placeholder.com/150x150")
    .col-8
      %h3 1. Kenanga Mall
      %p Rating <span>4.5</span> / 5 with <span>6</span> reviews.
      %a(href="#") Shopping

    .col-2
      %address.txt-small
        50, Changkat Bukit Bintang
        50200 Kuala Lumpur
        Malaysia
        Phone number 03-2142 5670

  .row.border-top.p-3
    .col-2
      %img(src="http://via.placeholder.com/150x150")
    .col-8
      %h3 1. Kenanga Mall
      %p Rating <span>4.5</span> / 5 with <span>6</span> reviews.
      %a(href="#") Shopping

    .col-2
      %address.txt-small
        50, Changkat Bukit Bintang
        50200 Kuala Lumpur
        Malaysia
        Phone number 03-2142 5670

  %nav
    %ul.pagination
      %li.page-item
        %a.page-link(href="#") 
          %span &laquo;
      %li.page-item
        %a.page-link(href="#") 1
      %li.page-item
        %a.page-link(href="#") 2
      %li.page-item
        %a.page-link(href="#") 3
      %li.page-item
        %a.page-link(href="#") 4
      %li.page-item
        %a.page-link(href="#")
          %span &raquo;
