.row.p-3.border-bottom
  %h2.mx-auto Yelp Kuala Lumpur
.row.p-2.border-bottom
  %ul.nav.mx-auto
    %li.nav-item
      %a.nav-link.text-secondary(href="#") San Francisco
    %li.nav-item
      %a.nav-link.text-secondary(href="#") Los Angeles
    %li.nav-item
      %a.nav-link.text-secondary(href="#") Paris
    %li.nav-item
      %a.nav-link.text-secondary(href="#") Beijing

.container.my-5
  .row
    .col-3
      %a(href="#")
      .card.p-5
        %img.card-img-top.icon.mx-auto(src="/open-iconic/svg/wrench.svg")
        .card-body.mx-auto.p-0.pt-5
          %h5.card-title Repair Services

    .col-3
      %a(href="#")
      .card.p-5
        %img.card-img-top.icon.mx-auto(src="/open-iconic/svg/cart.svg")
        .card-body.mx-auto.p-0.pt-5
          %h5.card-title Shopping  

    .col-3
      %a(href="#")
      .card.p-5
        %img.card-img-top.icon.mx-auto(src="/open-iconic/svg/briefcase.svg")
        .card-body.mx-auto.p-0.pt-5
          %h5.card-title Business Services 

    .col-3
      %a(href="#")
      .card.p-5
        %img.card-img-top.icon.mx-auto(src="/open-iconic/svg/droplet.svg")
        .card-body.mx-auto.p-0.pt-5
          %h5.card-title Food & Beverages    

/ <div class="row p-3 border-bottom">
/   <h2 class="mx-auto">Yelp Kuala Lumpur</h2>
/ </div>
/ <div class="row p-2 border-bottom">
/   <ul class="nav mx-auto">
/     <li class="nav-item">
/       <a class="nav-link text-secondary" href="#">San Francisco</a>
/     </li>
/     <li class="nav-item">
/       <a class="nav-link text-secondary" href="#">Los Angeles</a>
/     </li>
/     <li class="nav-item">
/       <a class="nav-link text-secondary" href="#">Paris</a>
/     </li>
/     <li class="nav-item">
/       <a class="nav-link text-secondary" href="#">Beijing</a>
/     </li>
/   </ul>
/ </div>

/ <div class="container my-5">
/   <div class="row">
/     <div class="col-3">
/       <a href="#">
/       <div class="card p-5">
/         <img class="card-img-top icon mx-auto" src="open-iconic/svg/wrench.svg">
/         <div class="card-body mx-auto p-0 pt-5">
/           <h5 class="card-title">Repair Services</h5>
/         </div>
/       </div>
/       </a>
/     </div>

/     <div class="col-3">
/       <a href="#">
/       <div class="card p-5">
/         <img class="card-img-top icon mx-auto" src="open-iconic/svg/cart.svg">
/         <div class="card-body mx-auto p-0 pt-5">
/           <h5 class="card-title">Shopping</h5>
/         </div>
/       </div>
/       </a>
/     </div>

/     <div class="col-3">
/       <a href="#">
/       <div class="card p-5">
/         <img class="card-img-top icon mx-auto" src="open-iconic/svg/briefcase.svg">
/         <div class="card-body mx-auto p-0 pt-5">
/           <h5 class="card-title">Business Services</h5>
/         </div>
/       </div>
/       </a>
/     </div>

/     <div class="col-3">
/       <a href="#">
/       <div class="card p-5">
/         <img class="card-img-top icon mx-auto" src="open-iconic/svg/droplet.svg">
/         <div class="card-body mx-auto p-0 pt-5">
/           <h5 class="card-title">Food & Beverages</h5>
/         </div>
/       </div>
/       </a>
/     </div>
/   </div>
/ </div>