.container
  .row.border-bottom.p-2
    .col-3
      %img(src="http://via.placeholder.com/250x200")
      %h5.my-2 Lee's Profile
      .list-group
        %a.list-group-item.list-group-item-action.active(href="#") Profile Overview
        %a.list-group-item.list-group-item-action(href="#") Friends
        %a.list-group-item.list-group-item-action(href="#") Reviews
        %a.list-group-item.list-group-item-action(href="#") Compliments
        %a.list-group-item.list-group-item-action(href="#") Tips
        %a.list-group-item.list-group-item-action(href="#") Check ins
        %a.list-group-item.list-group-item-action(href="#") Yelp Cash Back
    .col-6
      .row
        .col-12
          %h2 Lee Chian Yee
          %p San Francisco, CA
          %p.txt-small.font-weight-bold 3 reviews

        .col-12
          %h3 Recent Reviews
          .row.border-top.py-1
            .col-2
              %img(src="http://via.placeholder.com/50x50")

            .col-8
              %p You wrote a review for <a href="#">Sunway Velocity Mall</a>
              %p.txt-small Rating 4 out of 5
              %p This is just another mall. Not cool

            .col-2
              %small.txt-tiny 3 hours ago

          .row.border-top.py-1
            .col-2
              %img(src="http://via.placeholder.com/50x50")

            .col-8
              %p You wrote a review for <a href="#">Sunway Velocity Mall</a>
              %p.txt-small Rating 4 out of 5
              %p This is just another mall. Not cool

            .col-2
              %small.txt-tiny 3 hours ago

          .row.border-top.py-1
            .col-2
              %img(src="http://via.placeholder.com/50x50")

            .col-8
              %p You wrote a review for <a href="#">Sunway Velocity Mall</a>
              %p.txt-small Rating 4 out of 5
              %p This is just another mall. Not cool

            .col-2
              %small.txt-tiny 3 hours ago

    .col-3
      %a.d-block.font-weight-bold.txt-small.my-2(href="#") Add Profile Photos
      %a.d-block.font-weight-bold.txt-small.my-2(href="#") Update Your Profile 
      %a.d-block.font-weight-bold.txt-small.my-2(href="#") Find Friends
